asgiref==3.8.1 ; python_version >= "3.12" and python_version < "4.0"
django==4.2.18 ; python_version >= "3.12" and python_version < "4.0"
djangorestframework==3.15.2 ; python_version >= "3.12" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2025.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32"
